@header-height: 60px;
.project {
  display: flex;
  flex-direction: column;
  .header {
    height: @header-height;
    padding: 0px 24px 0px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(0, 6, 32, 0.08);
    box-shadow: rgb(0 0 0 / 10%) 0px 3px 10px 0px;
    position: relative;
    z-index: 10;
  }
  .content {
    height: calc(100vh - @header-height);
    background: rgb(247, 247, 247);
    .oper {
      display: flex;
      width: 504px;
      margin: 40px auto;
      > span {
        &:first-child {
          width: 360px;
        }
        &:nth-child(2) {
          margin: 0px 8px;
        }
      }
    }
  }
}
